<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Pet bearbeiten</title>
</head>

<body>

<h1>Pet bearbeiten</h1>

<form th:action="@{/pets/edit}" th:object="${pet}" method="post">

    <input type="hidden" th:field="*{id}" />

    <p>
        Name:
        <input type="text" th:field="*{name}" />
    </p>

    <p>
        Rasse:
        <input type="text" th:field="*{rasse}" />
    </p>

    <p>
        Geburtsdatum:
        <input type="date" th:field="*{birth}" />
    </p>

    <button type="submit">Speichern</button>

</form>

</body>
</html>